<%= stylesheet_link_tag "landing", "data-turbo-track": "reload"%>
<div class="splash-page">
  <h2 class="app-name">KOWOPE</h2>
  <div class="links">
    <%= link_to new_user_session_path, class: 'btn' do %>
      <button class="log-button">
        Log in
      </button>
    <% end %>
   
    
    <!-- Signup Link -->
    <%= link_to new_user_registration_path, class: 'btn' do %>
      <button class="log-button">
        Sign Up
      </button>
    <% end %>
  </div>
</div>
<div class="desktop-see">
 <h3>
  View web page on mobile device or resize browser to mobile screen size...
 </h3>
</div>
