.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  margin-top: -4%;
}

.nav-link {
  line-height: 50px;
}

.button-container {
  position: fixed;
  bottom: 20px;

  /* right: 20px;  */
  border: 0;
  width: 20%;
  margin-left: 2.5%;
  background-color: #5fb523;
  height: 5%;
}

.cat-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}

.main-part {
  margin-top: 10%;
}

a {
  text-decoration: none;
  color: #434b54;
}

.category-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
}

.cover {
  background-color: #d0d6dd;
}

.category-info {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

.date {
  margin-top: 0;
  margin-left: 30%;
}

.exit-icon {
  margin-top: 55%;
  height: 25px;
}

.cat-head {
  color: #fff;
}

.input-cat {
  width: 90%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  height: 30px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input:hover,
.input:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.category-image {
  height: 20px;
}

.back-icon {
  height: 30px;
}
