.button-container {
  position: fixed;
  bottom: 20px; 
  /* right: 20px;  */
 border: 0;
  width: 20%;
  margin-left: 2.5%;
  background-color: #5fb523;
  height: 5%;
}

.cat-link {
  text-decoration: none;
  color: #fff;
  font-size: 1.5em;
}
