@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Pacifico&display=swap');

.deal-nav {
  display: flex;
  justify-content: space-between;
  background-color: #3778c2;
  margin-top: -3%;
}

.back-icon {
  height: 30px;
  margin-top: 5%;
}

.cat-desc {
  display: flex;
}

.cat-icon {
  margin-right: 5%;
  margin-left: 2%;
  height: 30px;
}

.top-deal {
  background-color: rgba(208, 199, 199, 0.542);
  margin-top: 2%;
}

.deals {
  font-family: 'Pacifico', cursive;
  font-size: 1.2em;
}

.total {
  margin-left: 8%;
  font-weight: 900;
}
