@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  min-height: 100vh;
  padding: 0;
}

.btn:hover {
  background-color: #3778c2;
  border-radius: 5px;
  margin-left: 2.5%;
}

.log-button {
  border: 0;
  background: inherit;
  line-height: 30px;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  color: #3778c2;
  cursor: pointer;
}

.log-button:hover {
  color: #fff;
  cursor: pointer;
}

.splash-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-name {
  font-family: 'Pacifico', cursive;
  margin-top: 80%;
  font-size: 2em;
  color: #434b54;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 90%;
}

.desktop-see {
  display: none;
}

@media (min-width: 768px) {
  body {
    border: none;
    background-color: #faf9f6;
    min-height: auto;
    box-shadow: 0 0 0;
  }
  .splash-page {
    display: none;
  }
  .desktop-see {
    display:block;
    border: none;
    text-align: center;
    font-size: 2em;
  }

  .notification-message {
    display: none;
  }
}
